name: Github pull request labels

on:
  issue_comment:
    types: [created, edited]

permissions:
  pull-requests: write

jobs:
  skip-test-labeler:
    uses: Allda/action-label-test/.github/workflows/skip-test.yml@main
